.git
.gitignore
.env
node_modules
vendor
storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.idea
.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
README.md
RAILWAY_DEPLOY.md
.travis.yml
